.vscode/**
.vscode-test/**
.git/**
out/**
node_modules/**
src/**
.gitignore
.DS_Store
**/.DS_Store
**/*.map
**/*.ts
**/tsconfig.json
**/eslint.config.mjs
**/esbuild.mjs
**/package-lock.json
**/*.vsix
